*{
  font-family: 'Roboto', sans-serif !important;
}

.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  /* height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 53.5%; */
    height: 30px;
    background-color: white;
    border: 4px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 1024px;
    padding-left: 10px;

}
span.divider1 {
  color: orange;
  width: 5px;
  background: orange;
  /* text-align: center; */
  height: 50px;
}
.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

input[type="text"] {
  height: 45px;
}

input[type="date"] {
  height: 45px;
}
input[type="number"]{
  height: 45px;

}
select#travel_purpose{
  height: 45px;

}

button:disabled{
  background-color: #0071c2;
  cursor: default;
}
.SubmitDisable{
  height: 45px;
  background-color: #0071c2;
  border: none;
  color: white;
  cursor: pointer;
  border: 2px solid orange;
}
.submiheaderBtn{
height: 50px;
width: 100px;
border: 2px solid orange;
font-weight: 600;
font-size: 15px;
}


@media (max-width: 471px) and (min-width: 360px){
  .headerSearch{
    display: block;
    height: 150px;
    width: 100%;
    bottom: inherit;
    padding: 0;
    border: none;
  }

  .submiheaderBtn {
    height: 41px;
        width: 100%;
    /* margin-top: 18px; */
    border: 0.3px solid orange;
    font-weight: 600;
    font-size: 15px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  border: 2px solid orange;
}

input[type="text"] {
  height: 30px;
}

.rdrCalendarWrapper {
  color: #000000;
  font-size: 12px;
  margin: 27px 14px;
}
.fList {
  list-style: none;
  padding: 0;
  margin: 20px;
}
.extraclass{
  display: none;
}
.homeTitle {
 display: none;
}
.headerList {
  display: block;
  gap: 40px;
  margin-bottom: 10px;
  padding: 20px;
}
h1.headerTitle {
  font-size: 20px;
  width: 90%;
  margin: auto;
}
.headerDesc {
  font-size: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
span.divider1{
  display: none;
}
.mail {
  width: 100% !important;
  padding:2px !important
}
.footer {
  width: 100%;
  font-size: 12px;
}
.pList {
  width: 100%!important;
  margin-top: 130px;
  justify-content: space-between !important;
}
.mailInputContainer {
  text-align: center;
  display: flex;
}
.mailInputContainer>input {
  margin-right: 0px !important;
}
.linkstyle1 {
  margin: 30px !important;
}
.pListTitles>h1 {
  font-size: 14px !important;
  color: #444;
}
.options {
  z-index: 2;
  position: absolute;
  top: 116px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgb(0 0 0 / 40%);
}
.bookNow {
  top: 70px !important;
}
.hotelTitle {
  font-size: 15px !important;
}
.hotelDetails{
display: block !important;
}
.headerContainer {
margin: 2px !important;
}
h1.mailTitle {
  font-size: 24px !important;
}
span.mailDesc{
  font-size: 12px;
}
.searchItem{
  display: block !important;
}
.SearchItem{
  width: 100% !important;

}
.sliderImg {
  width: 80%;
  height: initial;
}
.hotelWrapper{
  width: 100% !important;
}
  }